body {
    background-color: #ececec;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.mouseEvent {
    background-color: black;
}
.gridElement {
    background-color: #ececec;;
    flex: 0 0 calc(6.25%); /* Each grid cell takes up 6.25% of the container width (16 cells in total), minus 1px for the gap */
    padding-top: calc(6.25%);
    
}

.mouseEvent {
    background-color: black;
}

a.grid-button{
    background: linear-gradient(to right,#ffffff ,#e2d0ef);
    background-color: #ffffff;
    color: #000000;
    font-family: Courier;
    font-size: 18px;
    font-weight: 800;
    font-style: normal;
    text-decoration: none;
    padding: 15px 15px;
    border: 0px solid #000;
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

a.grid-button span{
    margin-right: 15px;
    display: block;
    width: 29px;
    height: 29px;
    background-image: url("icons/hash.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transform: rotate(0deg);
}

a.grid-button:hover{
    background: linear-gradient(to right,#f2f2f2 ,#d6c5e3);
    background-color: #f2f2f2;
}

a.grid-button:active{
    transform: scale(0.95);
}