body {
    background-color: #ececec;
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.mouseEvent {
    background-color: black;
}
.gridElement {
    background-color: #ececec;;
    flex: 0 0 calc(6.25%); /* Each grid cell takes up 6.25% of the container width (16 cells in total), minus 1px for the gap */
    padding-top: calc(6.25%);
    
}

.mouseEvent {
    background-color: black;
}